*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url("https://i.pinimg.com/736x/18/20/09/182009ccb327d794f46efc8b2a805523.jpg");
    background-size: cover;
    background-position: center;
    color: #f5f5f5;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #f5f5f5;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 5px;
    width: auto;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.container p {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-decoration: solid underline;
}
.container input {
    padding: 10px;
    width: 300px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}
.container button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #1d053d;
    color: #f0ecec;
    cursor: pointer;
    font-size: 1rem;
}
.container button:hover {
    background-color: #033a74;
}
#menu 
{
  list-style: none;
  border-radius: 10px;
}

#menu li 
{
  padding: 10px 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#menu a 
{
  color: white;
  text-decoration: none;
  font-size: 25px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

#menu a:hover 
{
  text-decoration: underline;
  color: #e5e4e7;
}
.navbar{
  position: absolute;
  top: 20px;
  align-items: center;
  gap: 12px;
}
.navbar button{
  font-size: 20px;
  padding: 8px 12px;
  border-radius: 10px;
}
button {
  background: #080808;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover 
{
  background-color: #130629;
  cursor: pointer;
}
