body 
{
  background: url("https://i.pinimg.com/736x/18/20/09/182009ccb327d794f46efc8b2a805523.jpg");
    background-size: cover;
}

button 
{
  font-size: 30px;
  background-color: #080808;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover 
{
  background-color: #333232;
}

#menu 
{
  list-style: none;
  border-radius: 10px;
  
  
}

#menu li 
{
  padding: 8px 0;
}

#menu a 
{
  color: white;
  text-decoration: none;
  font-size: 25px;
}

#menu a:hover 
{
  text-decoration: underline;
  color: #e5e4e7;
}

.login {
  border: 1px solid white;
  width: 400px;
  min-height: 500px;
  margin: 50px auto;
  padding: 20px;

  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  overflow: visible;
}

form {
  display: block;
  box-sizing: border-box;
  padding: 40px;
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
  gap: 40px;

}

h1 {
  color: white;
  font-weight: normal;
  text-align: center;
  font-size: 50px;
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.8);
  margin-bottom: 60px;
  text-decoration: underline;
}

label {
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 2px;
  padding-left: 10px;
  text-decoration: underline;
}
input {
  background: rgba(255, 255, 255, 0.8);
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  padding: 0 20px;
  border: none;
  margin-bottom: 20px;
  color:white;
}
button {
  background: #080808;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}